/* Universal Selector */
* {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.body,
.nav-container {
    margin: 30px auto;
    max-width: 1440px;
}

/* Nav Items */
.menu {
    display: none;
}

.nav>ul>li>a {
    right: 20px;
    text-decoration: none;
}

li {
    list-style: none;
    margin-right: 20px;
}

.list-item1 {
    color: orange;
}

.list-item2 {
    color: skyblue;
}

.list-item3 {
    color: rgba(5, 212, 223, 1);
}

.list-item4 {
    color: rgba(93, 88, 239, 1);
}

.nav-head {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    align-items: center;
}

.nav-button {
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
    background-color: orange;
    color: white;
    font-size: 500;
    font-size: 1.5rem;
}

.nav {
    justify-content: space-between;
    align-items: center;
}
marquee{
    font-size: 1rem;
    font-weight: bold;
}

/* Main body parts */
/* First Section */
.first{
    align-items: center;
    gap: 50px;
}
.first-content{
    padding: 20px;
}
.first-title{
    font-size: 3.5rem;
    font-weight: bold;
}
#power{
    color: orange;
    font-weight: bolder;
}
#vision{
    color: skyblue;
    font-weight: bolder;
}
.first-subtitle{
    font-size: 20px;
    color: black;
}
.first-button{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 45px;
    border-radius: 12px;
    border: none;
}
/* Second Section */
.second{
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.second-header{
    font-size: 2.85rem;
    font-weight: bold;
    color: black;
    text-align: center;
}
.second-card-section{
    gap: 20px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.card-subtitle{
    font-family: "Raleway", serif;
    font-size: 1rem;
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
    line-height: 2;
}
.second-card1{
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 20px 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1), #ffffff );
}
.second-card2{
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 20px 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1), #ffffff );
}
.second-card3{
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 20px 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to bottom, rgba(242, 232, 255, 1), #ffffff );
}
#read-more1{
    border: none;
    background-color: white;
    color: skyblue;
    font-weight: bold;
    font-size: 1.2rem;
}
#read-more2{
    border: none;
    background-color: white;
    color: rgba(240, 170, 0, 1);
    font-weight: bold;
    font-size: 1.2rem;
}
#read-more3{
    border: none;
    background-color: white;
    color: rgba(135, 0, 255, 1);
    font-weight: bold;
    font-size: 1.2rem;
}

.lr-button{
    margin: 50px 43%;
    gap: 10px;
}
.left{
    border-radius: 50%;
    background-color: orange;
    padding:  23px 30px;
    font-size: 26px;
    font-weight: bold;
    border: none;
    color: white;
}
.right{
    border-radius: 50%;
    background-color: orange;
    padding:  23px 30px;
    font-size: 26px;
    font-weight: bold;
    border: none;
    color: white;
}
/* Third Section */


footer{
    background-color: rgba(1, 172, 253, 1);
}

@media screen and (max-width:576px) {

    .nav-head,
    .list-items,
    .nav-button {
        display: none;
    }

    .nav-container {
        border-bottom: 0.5px solid orange;
    }

    .body {
        margin: 10px 20px;
    }

    .nav {

        justify-content: space-between;
        margin: 10px 20px;
    }

    .menu {
        display: contents;
        padding-right: 200px;
    }
    .first{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        gap: 30px;
    }
    .first-title{
        font-size: 2rem;
    }
    .first-subtitle{
        font-size: 14px;
    }
    .first-button{
        font-size: 1rem;
    }
    .second-header{
        font-size: 1.65rem;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    .second-card1{
        font-size: 10px;
    }
    .second-card2{
        font-size: 10px;
    }
    .second-card3{
        font-size: 10px;
    }
    .card-title{
        font-size: 1rem;
    }
    .card-subtitle{
        font-size: 10px;
    }
    .second-card-section{
        flex-direction: column;
        gap: 20px;
    }
    #read-more1{
        font-size: 10px;
    }
    #read-more2{
        font-size: 10px;
    }
    #read-more3{
        font-size: 10px;
    }
    .lr-button{
        display: none;
    }
}