/* Universal Selector */
* {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.body,
.nav-container {
    margin: 30px auto;
    max-width: 1440px;
}

/* Nav Items */
.menu {
    display: none;
}

.nav>ul>li>a {
    right: 20px;
    text-decoration: none;
}

li {
    list-style: none;
    margin-right: 20px;
}

.list-item1 {
    color: orange;
}

.list-item2 {
    color: skyblue;
}

.list-item3 {
    color: rgba(5, 212, 223, 1);
}

.list-item4 {
    color: rgba(93, 88, 239, 1);
}

.nav-head {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    align-items: center;
}

.nav-button {
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
    background-color: orange;
    color: white;
    font-size: 500;
    font-size: 1.5rem;
}

.nav {
    justify-content: space-between;
    align-items: center;
}

.marquee {
    max-width: 1440px;
    margin: 0px auto;
}

marquee {
    font-size: 1rem;
    font-weight: bold;
}

/* Main body parts */
/* First Section */
.first {
    align-items: center;
    gap: 50px;
}

.first-content {
    padding: 20px;
}

.first-title {
    font-size: 3.5rem;
    font-weight: bold;
}

#power {
    color: orange;
    font-weight: bolder;
}

#vision {
    color: skyblue;
    font-weight: bolder;
}

.first-subtitle {
    font-size: 20px;
    color: black;
}

.first-button {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 45px;
    border-radius: 12px;
    border: none;
}

/* Second Section */
.second {
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.second-header {
    font-size: 2.85rem;
    font-weight: bold;
    color: black;
    text-align: center;
}

.second-card-section {
    justify-content: space-around;
    gap: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-subtitle {
    font-family: "Raleway", serif;
    font-size: 1rem;
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
    line-height: 2;
}

.second-card1 {
    max-width: 480px;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 20px 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1), #ffffff);
}

.second-card2 {
    max-width: 480px;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 20px 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1), #ffffff);
}

.second-card3 {
    max-width: 480px;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 20px 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to bottom, rgba(242, 232, 255, 1), #ffffff);
}

#read-more1 {
    border: none;
    background-color: white;
    color: skyblue;
    font-weight: bold;
    font-size: 1.2rem;
}

#read-more2 {
    border: none;
    background-color: white;
    color: rgba(240, 170, 0, 1);
    font-weight: bold;
    font-size: 1.2rem;
}

#read-more3 {
    border: none;
    background-color: white;
    color: rgba(135, 0, 255, 1);
    font-weight: bold;
    font-size: 1.2rem;
}

.lr-button {
    margin: 50px 45%;
    gap: 10px;
}

.left {
    border-radius: 50%;
    background-color: orange;
    padding: 23px 30px;
    font-size: 26px;
    font-weight: bold;
    border: none;
    color: white;
}

.right {
    border-radius: 50%;
    background-color: orange;
    padding: 23px 30px;
    font-size: 26px;
    font-weight: bold;
    border: none;
    color: white;
}

/* Third Section */
.bgg {
    background: linear-gradient(rgb(255, 255, 255), rgba(247, 230, 194, 0.808));
    padding-bottom: 30px;
}

.third-section {
    justify-content: center;
    gap: 40px;
}

.third {
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
}

.third-container1 {
    max-width: 540px;
    border: none;
    border-radius: 15px;
    background-color: white;
    padding: 0px;
}

.third-container1>div>img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card-title1 {
    padding: 20px 65px 10px 38px;
    font-size: 24px;
    font-weight: bold;
}

.big-contant {
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 48px;
    padding: 15px 10px;
    background-color: skyblue;
    width: fit-content;
}

.d {
    margin-top: -30px;
    margin-left: 30px;
}

.d1 {
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(149, 178, 38, 1);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 45px;
}

.d2 {
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(93, 88, 240, 1);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 45px;
}

.card-subtitle1 {
    padding: 20px 65px 35px 38px;
}

.third-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.view-button {
    align-items: center;
    justify-content: center;
    border: none;
}

.view-btn {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    background-color: black;
    color: white;
    padding: 10px 30px;
}

/* cards */
.third-card1 {
    max-width: 291px;
    background-color: white;
    border-radius: 16px;
}

.third-card2 {
    max-width: 291px;
    background-color: white;
    border-radius: 16px;
}

.third-card3 {
    max-width: 291px;
    background-color: white;
    border-radius: 16px;
}

.third-card4 {
    max-width: 291px;
    background-color: white;
    border-radius: 16px;
}

.third-card1>img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.third-card2>img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.third-card3>img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.third-card4>img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.third-sub {
    padding: 30px 40px;
    font-weight: bolder;

}

/* Footer Section */
footer {
    background-color: rgba(1, 172, 253, 1);
}

.footer-content {
    padding: 50px 0px;
    max-width: 1440px;
    margin: 0px auto;
    justify-content: space-between;

}

.footer-left {
    max-width: 600px;
}

.footer-left-logo {
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 2.5rem;
    height: fit-content;
    gap: 10px;
}

.footer-left-content {
    font-size: 1.25rem;
    color: white;
}

.mid>ul>li {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2;
}

.about-school {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

}

.footer-right ul {
    gap: 5px;
}

@media screen and (max-width:576px) {

    .nav-head,
    .list-items,
    .nav-button {
        display: none;
    }

    .nav-container {
        border-bottom: 0.5px solid orange;
    }

    .body {
        margin: 0px auto;
    }

    .nav {

        justify-content: space-between;
        margin: 10px 20px;
    }

    .menu {
        display: contents;
        padding-right: 200px;
    }

    .first {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        gap: 30px;
    }

    .first-title {
        font-size: 2rem;
    }

    .first-subtitle {
        font-size: 14px;
    }

    .first-button {
        font-size: 1rem;
    }

    .second-header {
        font-size: 1.65rem;
        font-weight: bold;
        color: black;
        text-align: center;
    }

    .second-card1 {
        font-size: 10px;
    }

    .second-card2 {
        font-size: 10px;
    }

    .second-card3 {
        font-size: 10px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-subtitle {
        font-size: 10px;
    }

    .second-card-section {
        flex-direction: column;
        gap: 20px;
    }

    #read-more1 {
        font-size: 10px;
    }

    #read-more2 {
        font-size: 10px;
    }

    #read-more3 {
        font-size: 10px;
    }

    .lr-button {
        display: none;
    }

    .third-container1 {
        display: none;
    }

    .third-container2 {
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        padding: 0px 20px;

    }

    .view-btn {
        font-size: 16px;
        padding: 10px 35px;
    }

    .third-card1>img {
        width: 100%;
    }

    .third-card2>img {
        width: 100%;
    }

    .third-card3>img {
        width: 100%;
    }

    .third-card4>img {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px;
    }

    .footer-left-logo {
        font-size: 2rem;
    }

    .footer-left-content {
        font-size: 1rem;
    }

    .third-container2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}